certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
dicom==0.9.9.post1
docopt==0.6.2
et-xmlfile==1.0.1
idna==2.8
imageio==2.5.0
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.1.1
networkx==2.3
nibabel==2.5.0
numpy==1.16.2
openpyxl==2.6.2
pandas==0.24.2
Pillow==9.0.1
pipreqs==0.4.9
pydicom==1.2.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.3
pywin32==301
requests==2.22.0
scikit-image==0.15.0
scipy==1.3.0
SimpleITK==1.2.0
six==1.12.0
sysutils==0.0.2
transformations==2019.4.22
untangle==1.1.1
urllib3==1.26.5
yarg==0.1.9
